@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --background-1: #fff;
    --background-2: #000;
    --color-first: #FFC407;
    --color-second: #E6C00B;
    --hover-safe: #ffde70;
}

footer{
    width: 100%;
    height: 500px;
    background-color: var(--color-first);
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

footer > .interface{
    display: flex;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a{
    margin-left: 3px;
    color: #000;
    text-decoration: underline;
}

.footer span, .footer a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.menu_itens{
    padding: 30px;
    border-left: solid 1px #fff;
}

.menu_itens .itens{
    display: flex;
    flex-direction: column;
}

.menu_itens .itens a{
    color: #000;
    transition: all ease-in-out .25s;
    margin-bottom: 8px;
}

.menu_itens .itens a:hover{
    color: #474747;
}

.menu_itens .itens h4{
    margin-bottom: 15px;
    font-size: 23px;
}

#rodape{
    margin-top: 125px;
    margin-left: -2rem;
}

#btn_logo_footer{
    background-color: var(--color-first);
    border-radius: 9999px;
    cursor: pointer;
    transition: all .3s;
}

#btn_logo_footer:hover{
    background-color: var(--color-second);
}

#btn_logo_footer img{
    width: 180px;
}

#local{
    padding: 20px;
    margin-left: -8rem;
    
}

#social{
    margin-left: -8rem;
}