@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --background-1: #fff;
    --background-2: #000;
    --color-first: #FFC407;
    --color-second: #E6C00B;
    --hover-safe: #ffde70;
}

.header{
    padding: 3rem 4%;
    width: 100%;
    padding-top: 20px;
    
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btn_logo{
    background-color: var(--color-first);
    border-radius: 9999px;
    cursor: pointer;
    transition: all .3s;

}

.btn_logo:hover{
    background-color: var(--color-second);
}

.btn_logo img{
    width: 120px;
}

.nav_menu{
    width: 60%;
    text-align: center;
}

.nav_menu a{
    margin: 30px;
    font-size: 20px;
    color: var(--background-2);
    background-color: #fff;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
}

.nav_menu a:hover{
    background-color: var(--color-first);
    padding: 5px;
    border-radius: 5px;
    
    position: relative;
}

.nav_menu .op{
    display: inline-flex;
}

.nav_menu .active {
    background-color: var(--color-first);
    padding: 5px;
    border-radius: 5px;
}

.header_fixed{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--color-first);
    width: 100%;
    z-index: 0;
    border-bottom: 0;
    transition: all ease-in-out .25s;
    top: -8rem;
    opacity: 0;
    position: fixed;
    
}

#nav_menu{
    width: 60%;
    text-align: center;
}

#nav_menu a{
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: var(--background-2);
    background-color: var(--color-first);
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    height: 80px;
    padding: 8px;
}

#nav_menu a:hover{
    background-color: var(--hover-safe);
}

.fixed{
    top: 0;
    opacity: 1;
    z-index: 160;
    position: fixed;
}

#nav_menu .active_fixed{
    background-color: var(--hover-safe);
}

#btn_logo img{
    width: 115px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -1.22rem;
    left: 120px;
}

.social a{
    display: inline-flex;
    margin: 10px;
    color: #000;   
    transition: all ease-in-out .25s;
}

.social a:hover{
    color: #474747;
}




